
/* OGNI RIGA DI PROPRIETA' VA SEMPRE CHIUSA CON IL ; */

/* questo è un commento css, il body è un SELECTOR / SELETTORE, dove spariamo le info che diamo, ciòc he è interessato al cambaimento di stile. body si intende tutto il file. background color è la proprieta' E TURCHESE è IL VALORE 
- modo 1 per il colore: nome*/ 
body {
    font-family: 'HalyardDis_ISIAU Bk', Arial, sans-serif; 
    font-size: 28px;
}

/* metodo 2 colore, rgb*/
h1{
    color: black
}

/* metodo 2.a colore con trasparenza, dove a va da 0 (trasparente) a 1 (opaco), rgba*/
h3{
    color: rgba(44, 27, 100, 0.5);
}

/* metodo 3 colore, esadecimali*/
h4{

    font-style: italic;
}

/*colore link*/

a{
    border-bottom: 1px solid black; /* shorthand, ovvero una contrazione di quelle che sarebbero diverse linee di codice */
    color: black;
    text-decoration: none;
}

/* alcuni elelemtni di html come link ha diversi stati, può essere a riposo, sopra con il mouse, cliccato e quando è già stato visitato */
/* :hover è una PSEUDO CLASSE e inetnde quando ci siamo sopra con il mouse*/

a:hover{
    color: black;
    text-decoration: underline;
}

a:visited{
    color: dodgerblue;
    text-decoration: line-through;
}


div{
    background-color: darkorange;
}




